#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.folder-wrapper > span {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.explorer-items {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
